@import './reset.scss';
@import '~bootstrap/scss/functions.scss';
@import './variable.scss';
@import '~bootstrap/scss/mixins.scss';
@import '~bootstrap/scss/grid.scss';
@import '~bootstrap/scss/transitions.scss';
@import '~bootstrap/scss/utilities/position.scss';
@import '~bootstrap/scss/modal.scss';
@import '~bootstrap/scss/breadcrumb.scss';

@if $enable-grid-classes {
  @each $breakpoint in map-keys($grid-breakpoints) {
    html {
      @include media-breakpoint-up($breakpoint) {
        font-size: map-get($map: $root-sizes, $key: $breakpoint);
      }
    }
  }
}

.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .close {
    font-size: 2rem;
  }
}

.modal-body {
  text-align: center;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>'!important;
}